*,
*::after
*::before
{box-sizing: border-box;

}

@font-face{
 font-family: 'balqis';
 src: url('../fonts/balqis.woff2') format('woff2'),
      url('../fonts/balqis.woff') format('woff');
 font-weight: 300;
 font-style: normal;
 font-display: swap;
}

@font-face{
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
   }
   
   @font-face{
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
   }

   @font-face{
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
   }

ul{
    list-style: none;
}

body {color: black;
    font-family: 'RobotoCondensed-Light';
    font-size: 18px;
    line-height: 21px;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}

.page-section{
    margin: 150px auto;
    max-width: 1920px;
}

.title{
    font-family: 'balqis';
    font-size: 96px;
    line-height: 128px;
    color: #E2AB3F;
    font-weight: 300; 
    margin-bottom: 60px;
}

.title span{
    font-family: 'RobotoCondensed-LightItalic';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    display: block;
    margin-top: -30px;   
}

.header{
    background-image: url('../images/header-bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.header__top{
    padding-top: 62px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    line-height: 38px;
    font-family: 'RobotoCondensed-Regular';
}

.menu__list-item {
    display: inline-block;
    padding: 0 150px;    
}


.menu__list-link:hover {
   text-decoration: underline;
}


.header__title {
    padding-top: 80px;
    text-align: center;
    font-size: 180px;
    line-height: 250px;
    font-family: 'balqis';
    font-weight: 300;
    color: #E2AB3F;

}

.header__title span {
    display: block;
    margin-top: -16px;
    color: #E2AB3F;
    text-align: center;
    font-size: 250px;
    line-height: 286px;
    font-family: 'balqis';
}



.slick-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: transparent; 
    border: none;
    outline: none;
}

.slick-prev{
    left: 0;
}

.slick-next{
    right: 0;
}

.fairy_tail{

}

.fairy_tail__inner{
    position: relative;
    
}
.fairy_tail__container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fairy_tail__slider{
    width: 50%
}

.fairy_tail__body{
    width: 45%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.fairy_tail__body-title{
    font-family: 'RobotoCondensed-Regular';
    
}

.fairy_tail__text{
    padding: 10px 0;
    font-size: 36px;
}

.fairy_tail__title span{
    margin-left: 185px;
}

.our-trip__slider{
    width: 50%;
    margin-left: auto;
}

.our-trip__inner {
    position: relative;
}

.our-trip__container{
    max-width: 1230px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.our-trip__title span{
    margin-left: 230px;
}
.our-trip__body{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: start;
}

.our-trip__list{
    margin: 5px 0;
    font-size: 24px;
    line-height: 28px;
}

.our-trip__list li:first-child{
    margin-bottom: 20px;
    font-family: 'RobotoCondensed-Regular';   
    font-size: 28px;
}

.our-trip__btn{
    font-family: 'RobotoCondensed-Light';
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #E2AB3F;
    padding: 11px 53px;
}

.our-trip__content{
    width: 50%;
    padding-right: 55px;
}
.our-trip__slider-img{    
    object-fit: cover;
}

.hotel_title span{
    margin-left: 585px;
}

.hotel_title2 span{
    margin-left: 585px;
}

.hotel__inner{
    display: flex;
}

.hotel__images{
    margin-left: 0px;
}

.hotel__content{
    margin-left: 50px;
    justify-content: space-between;
    height: 100%;
}

.hotel__text{
    margin-bottom: 45px;
    font-size: 28px;
}

.hotel__text2{
    margin-bottom: 25px;
    font-size: 28px;
}

.hotel__gallery{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hotel__gallery2{
    margin-top: 40px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.hotel__gallery2 iframe{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
    

.hotel__gallery a{
    margin-top: 50px;    
    margin-left: 5px;
    margin-right: 5px;
}

.price__inner{
    display: flex;
}

.price__title span{
    margin-left: 400px;

}

.price__on-title,
.price__off-title{
    padding: 10px 10px;
    font-size: 22px;
    font-family: 'RobotoCondensed-Regular';
    line-height: 26px;
    display: inline-block;   
    height: auto;
    margin: 10px 10px;
    border: 1px solid blue;  
    background-color: #E2AB3F; 
}

.price__on,
.price__off{
    margin-right: 70px;
    width: 50%; 
    
}

.price__list-item{
    margin-bottom: 10px;
    
}

.price{
    background-image: url(../images/balls.png);
    background-repeat: no-repeat;
    background-position: bottom right 20%;
    
}

.contacts__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.contacts__content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts__date,
.contacts__price{
    font-family: 'balqis';
    font-size: 96px;   
    color: #E2AB3F;
    line-height: 100px;
}

.contacts__price{
    margin-left: 120px;
}
.contacts__date{
    margin-bottom: 20px;
}

.contacts__date span,
.contacts__price span{
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-family: 'RobotoCondensed-LightItalic';
    margin-top: -10px;
}

.contacts__date span{
    margin-left: 205px;
}

.contacts__price span{
    margin-left: 205px;
}

.contacts__form{
    max-width: 383px;
    margin: 0 auto;
}

.contacts__form-title{
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Regular';
}

.contacts__form-input{
    display: block;
    border: 1px solid #E2AB3F;
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    padding: 0 31px;
    font-size: 18px;
    line-height: 21px;
    font-family: 'RobotoCondensed-Light';
}

.contacts__form-input::placeholder{
    color: black;
}

.contacts__form-btn{
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;    
    font-family: 'RobotoCondensed-Light';
    text-transform: uppercase;
    border: 1px solid #E2AB3F;
    box-sizing: border-box;
    background-color: transparent;
    padding: 11px 45px;
    cursor: pointer;
}


.footer__inner{
    display: block;
    
 }

 .footer__text{
    font-family: 'balqis';
    font-size: 126px;
    line-height: 156px;
}
.footer__images{
    width: 100%;
}

.footer__contacts{
    width: 356px;
    height: 527px;   
    background-image: url(../images/footer-contact-bg.png);
    background-repeat: no-repeat;
    text-align: center;
}

.footer__contacts-title{
    font-size: 86px;
    line-height: 115px;
    color: #E2AB3F;
    font-family: 'balqis';
    margin-bottom: 50px;
    padding-top: 50px;
}

.footer__title{
    font-size: 96px;
}



@media (max-width:1240px){
    .header__title {
        padding-top: 100px;
        font-size: 160px;
        line-height: 220px;        
    }

    .menu__list-item {
        display: inline-block;
        padding: 0 100px;    
    }
    
    .fairy_tail__container,
    .our-trip__container{
        position: static;                
        padding-left: 20px;
    }

    .fairy_tail__slider,
    .our-trip__slider{
        display: block;
        width: 100%;
        padding: 0 20px;
    }

    .fairy_tail__content,
    .our-trip__content{
        width: 100%;       
    }
    .our-trip__content{        
        padding-right: 0;
    }

    .fairy_tail__text{
        margin-top: 20px;
    }

    .header__title span {
        margin-top: -30px;
        margin-right: 85px;
        font-size: 250px;
    }

    .hotel_title2 span{
        margin-left: 285px;
    }

    .hotel__inner,
    .hotel__images
     { 
        display: block;
        width: 100%;
        padding-bottom: 20px;        
    }
    
    .hotel__gallery{
        margin-top: -35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;        
    }
    .hotel__gallery a{
        margin-top: 50px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .price{
        background-size: 25%;
        background-position: center right 9%;
    }

    .footer__text{
        font-size: 76px;
        line-height: 105px;
    }        
    .hotel__content{
        margin-left: 0px;        
    }

@media (max-width:990px){
    .page-section{
        margin: 100px 0;
    }

    .slick-slide img
{   width: 100%;
    display: block;
}


    .header__title {
        padding-top: 50px;
        font-size: 138px;
        line-height: 220px;        
    }

    .menu__list-item {
        display: inline-block;
        padding: 0 85px;    
    }

    .fairy_tail__container,
    .our-trip__container{
        position: static        
    }
    .fairy_tail__slider,
    .our-trip__slider{
        width: 100%;
        
    }
    .fairy_tail__body,
    .our-trip__body{
        width: 100%;
        padding-left: 0; 
    }
    .our-trip__slider{
        display: block;
        padding-top: 20px;
    }
    .price{
    background-size: 30%;
    }

    .contacts__inner{
    display: block;
}
.contacts__images{
   width: 75%;
   display: flex;
   margin: auto;
   margin-top: 20px;   
}

.hotel_title2 span{
    font-size: 22px;
    margin-top: 20px;    
    margin-left: 245px;
}



.contacts__date span,
.contacts__price span{
    margin-right: 10px;
}

.footer__inner{
    display: block;
}
.footer__text{
    text-align: left;
    
}

.footer__contacts{
    margin: auto;
}

  


@media (max-width:840px){
    .header__title {
        padding-top: 100px;
        font-size: 95px;
        line-height: 150px;        
    }
    .header__title span {
        margin-top: -44px;
        margin-right: 85px;
        font-size: 150px;
    }    

    .menu__list-item {
        display: inline-block;
        padding: 0 60px;    
    }

    .header__top{
        font-size: 20px;
        line-height: 24px;
    }
    .header__phone::before{
        width: 25px;
        height: 25px;
        background-size: cover;
    }
    .price__on,
    .price__off{
        
        width: 100%; 
        
    }

    .hotel_title {
        font-size: 80px;
    }
    .hotel_title span{
        margin-left: 450px;
    }
    
    .price__inner{
        display: block;
    }
    .price__on-title,
    .price__off-title{
        margin-bottom: 10px;
    }
    .price{
        background-image: url(../images/balls.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        
    }

    .fairy_tail__text{
        font-size: 22px;
        
    }

    .footer__title{
        font-size:80px;        
    }
    
    
}

    @media (max-width:600px){
        .container{
            padding: 0 5px;
        }
        .header__top{
            justify-content: center;
            flex-wrap: wrap;            
        }
        .menu{
            width: 100%;
            text-align: center;
            margin: 0 0 25px;
        }
        .header__title {
            padding-top: 20px;
            font-size: 75px;
            line-height: 120px;        
        }
        .header__title span {
            margin-top: -46px;
            font-size: 120px;
            margin-right: 15px;
        }   
            
        .fairy_tail__item img
         {
            height: 50vh;
            width: 100%;
            object-fit: cover;
        }

        .our-trip__item img
        {
           height: 75vh;
           width: 100%;
           object-fit: cover;
       }

        
        .page-section{
            margin: 50px 0;
        }
        .title{
            margin-bottom: 25px;
            font-size: 50px;
            line-height: 110px;
        }
        .fairy_tail__title span{
            margin-left: 110px;       
        }    

        .hotel_title {
            font-size: 50px;
            line-height: 70px;
        }
        .hotel_title2 {
            font-size: 50px;
            line-height: 70px;
        }
        .hotel_title span{
            margin-left: 200px;
            margin-top: 10px;       
        }    
        .hotel_title2 span{
            margin-left: 100px;                 
        }    
        .hotel__text{
        font-size: 20px;
        }
        .price__title span{
            margin-left: 220px;       
        }    
        .our-trip__title span{
            margin-left: 70px;
        }

        .our-trip__list li:first-child{
            font-size: 20px;
        }
        
        .hotel__inner2,
        .hotel__content,
        .hotel__gallery2{
            width: 100%;
                    
        }
        
        .price__list{
            width: 100%;
        }
        .contacts__date span{
            margin-left: 105px;
        }
        
        .contacts__price span{
            margin-left: 105px;
        }
        .footer__text{
            font-size: 56px;
            line-height: 85px;
        }
        .hotel__gallery2 iframe {
            width: 100%;            
        }        
              
     
    }

    @media (max-width:370px){
        
        .header__title {
            font-size: 60px;
            line-height: 100px;        
        }
        .header__title span {
            font-size: 80px;
            margin-right: 5px;
        }   
    
        .menu__list-item + .menu__list-item{
            margin-left: 12px;
        }

        .titple{
            font-size: 50px;
        }
        .title span {
            font-style: 20px;
        }
        .fairy_tail__title span{
            margin-left: 90px;
        }
        .our-trip__title span{
            margin-left: 20px;
        }
        .price{
            
            background-position: center right;
        }

        .price__title span{
            margin-left: 200px;
        }
        .contacts__date span{
            margin-left: 75px;
        }
        
        .contacts__price span{
            margin-left: 75px;
        }

        .hotel__inner2{
            /* display: none; */
        }

        .hotel_title{
            font-size: 40px;
        }
        .hotel_title span{
            margin-left: 30px;
        }
        .hotel__text{
             font-size: 20px;
        }
        .fairy_tail__text{
            font-size: 24px;
        }
        .footer__title{
            font-size: 50px;        
            line-height: 70px;
        }   
        .footer__text{
            font-size: 36px;
            line-height: 45px;
            
        }
        .hotel__gallery a{            
            padding-right: 5px;
            padding-left: 5px;
        }                


    }

